<div class="paneright">
	<div class="row">
		<div class="span4">
			<div class="panel panel-info">
				<div class="panel-heading">
					<h2 class="panel-title">Information</h2>
				</div>
				<p>
					This is an information panel to guide you through the usage of this
					page. You can search a node providing a schema pattern. <font
						color="red"> Tags </font> button redirects you to a tag search
					page, pre-filled with the information you requested on the schema
					and node selected. If you did not select any specific schema you will get
					all tags satisfying the schema pattern and node pattern.
				</p>
				<div class="row">
					<button class="btn" ng-click="showsearch = !showsearch">Toggle
						Search</button>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="pane">
<div class="row">
<div class="span8" ng-show="showsearch == true">
 <div class="panel panel-info">
    <div class="panel-heading">
      <h2 class="panel-title">
        Nodes search panel
      </h2>
 </div>
<p>
This page is used for searching detail on schemas, like nodes.
</p>
<form novalidate name="schemaDetailsForm" class="form" ng-submit="submit()">

<fieldset class="field_set">
<div class="row">
    <label>Database: </label> 
    <select ng-model="schemaformparams.dbname" ng-options="c.name for c in dbnames">
          <option value="">-- choose Database --</option>
    </select>
    <p>Currently selected: {{ {selected_db:schemaformparams.dbname}  }}</p>
</div>
<div class="row">
    <label>Schema: </label> 
    <input type="text"
		   ng-model="schemaformparams.schema" ng-minlength=8
	       ng-pattern="/ATLAS_COOL.*/" name="schemaPattern"
		   value="ATLAS_COOL"
		   typeahead="schema.schemaName for schema in allschemas | filter:$viewValue"
		required>
	<div class="error" 
        ng-show="schemaDetailsForm.schemaPattern.$invalid">
    <small class="error" 
        ng-show="schemaDetailsForm.schemaPattern.$error.pattern">
        Schema name has to start with ATLAS_COOL.
    </small>
    <small class="error" 
        ng-show="schemaDetailsForm.schemaPattern.$error.required">
        Schema name for search is required.
    </small>    
    <small class="error" 
            ng-show="schemaDetailsForm.schemaPattern.$error.minlength">
            Search string is required to be at least 8 characters
    </small>
  </div>
  </div>      	
 <div class="row">
  <button type="submit" class="button radius">Submit</button>
 </div>
</fieldset>
</form>
 
<fieldset class="field_set">
 <div class="row">  
  <label class="label-large">Schema name selection using pattern ? ({{schemaformparams.schema}}, {{schemaformparams.node}})</label>
  <input type="checkbox" 
  	ng-model="usepattern" ng-init="usepattern=true" ng-change="toggleUseSelection()">
 </div>
 <div class="row">  
  <label>Search tags:</label>
  <button ng-click='searchtags()' class="button radius">Tags</button>
  </div>
 <div class="row">  
<p>Show list of selected items</p>
 <pre>{{schemaformparams.gridopt.selectedItems}}</pre>
</div>
</fieldset>
</div>
</div>
</div>

<tabset> 
<tab ng-repeat="tab in tabs" heading="{{tab.title}}"
	active="tab.active" disabled="tab.disabled"> {{tab.content}}
<div class="report-container" ng-show="tab.shownodes == true">
	<div class="gridStyle" ng-grid="nodeGridOptions"></div>
</div>
</tab>
</tabset>

