<div class="paneright">
	<div class="row">
		<div class="span4">
			<div class="panel panel-info">
				<div class="panel-heading">
					<h2 class="panel-title">Information</h2>
				</div>
				<p>
					This is an information panel to guide you through the usage of this
					page. You can search a tag providing a schema pattern and node.
				</p>
				<div class="row">
					<button class="btn" ng-click="showsearch = !showsearch">Toggle
						Search</button>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="pane">
<div class="row">
<div class="span8" ng-show="showsearch == true">
 <div class="panel panel-info">
    <div class="panel-heading">
      <h2 class="panel-title">
        Tags search panel
      </h2>
 </div>
<p>
This page is used for searching tags in given schemas and nodes.
</p>
<form novalidate name="tagForm" class="form" ng-submit="submit()">
<fieldset class="field_set">
    <legend class="legend">Tag search panel</legend>
<div class="row">
    <label>Database</label> 
    <select ng-model="schemaformparams.dbname" ng-options="c.name for c in dbnames">
          <option value="">-- choose Database --</option>
    </select>
    <p>Currently selected: {{ {selected_db:schemaformparams.dbname}  }}</p>
</div>
<div class="row">
    <label>Schema</label> 
    <input type="text" ng-model="schemaformparams.schema" 
    	ng-minlength=8 
     	ng-pattern="/ATLAS_COOL.*/" 
      	name="schemaPattern" value="ATLAS_COOL" 
    	typeahead="schema.schemaName for schema in allschemas | filter:$viewValue" required>
	<div class="error" 
        ng-show="tagForm.schemaPattern.$invalid">
    <small class="error" 
        ng-show="tagForm.schemaPattern.$error.required">
        Schema name is required.
    </small>    
    <small class="error" 
        ng-show="tagForm.schemaPattern.$error.minlength">
        Search string is required to be at least 2 characters
    </small>
  </div>   
  </div>  
<div class="row">
    <label>Node</label> 
    <input type="text" ng-model="schemaformparams.node" 
        ng-pattern="/\/.*/" 
    	ng-minlength=2 
      	name="folderPattern" value="/NONE" required/>
	<div class="error" 
        ng-show="tagForm.folderPattern.$invalid">
    <small class="error" 
        ng-show="tagForm.folderPattern.$error.pattern">
        Node name has to start with a /.
    </small>
    <small class="error" 
        ng-show="tagForm.folderPattern.$error.required">
        Node name for search is required.
    </small>    
    <small class="error" 
        ng-show="tagForm.folderPattern.$error.minlength">
        Search string is required to be at least 2 characters
    </small>
  </div>   
  </div>     	  
 <div class="row">
  <button type="submit" class="button radius">Submit</button>
 </div> 
</fieldset>
</form>

<fieldset class="field_set"> 
<p>Show list of selected items</p>
 <pre>{{tagGridOptions.selectedItems}}</pre>

 <div class="row" ng-show="useleaftag==true">
<p>
Get details on selected tag {{tagGridOptions.selectedItems[0].tagName}}: <a href="#/taginfo">TagInfo</a>
</p>
 </div>  
</fieldset>
</div>
</div>
</div>
</div>
<tabset> 
<tab ng-repeat="tab in tabs" heading="{{tab.title}}"
	active="tab.active" disabled="tab.disabled"> {{tab.content}}
<div class="report-container" ng-show="tab.showtags == true">
	<div class="gridStyle" ng-grid="tagGridOptions"></div>
</div>
</tab>
</tabset>
