<div class="paneright">
<div class="row">
<div class="span4">
 <div class="panel panel-info">
    <div class="panel-heading">
      <h2 class="panel-title">
        Information
      </h2>
 </div>
 <p>This is an information panel to guide you through the usage of this page.
 You can search for run number or time ranges. Use the buttons below to toggle 
 the visualization of the sections.
 </p>
<div class="row" >
<button class="btn" ng-click="showsearch = !showsearch">Toggle Search</button>
</div> 
<div class="row" >
<button class="btn" ng-click="showchart = !showchart">Toggle Chart</button>
</div>
</div>
</div>
</div>
</div>
<div class="pane">
<div class="row">
<div class="span8" ng-show="showsearch == true">
 <div class="panel panel-info">
    <div class="panel-heading">
      <h2 class="panel-title">
        Search panel for run information of JBCoolJS web application!
      </h2>
 </div>
<p>
This page is used for searching run related information. It uses COMA as data source.
</p>
<form novalidate name="comarunForm" class="form" ng-submit="submit()">
<div class="row">
<label>Choose input range format: </label>
<select data-ng-model="radioValue" data-ng-options="item for item in tspanoptions" data-ng-change="changeradiovalue()"></select>
<!--     <label ng-repeat="n in tspanoptions"> -->
<!--          <input type="radio" name="tspanchoice" ng-model="$parent.radioValue" ng-value="n" /> {{n}} -->
<!--     </label> -->
</div>
<fieldset class="field_set" ng-show="radioValue == 'run'">
    <legend class="legend">Search by run number</legend>

<div class="row" >
    <label>Run number: [start] </label> 
    <input type="text" ng-model="schemaformparams.runmin.number" 
     	ng-pattern="/[0-9].*/" 
      	name="runPattern" value="0" required/>
	<div class="error" 
        ng-show="comarunForm.runPattern.$invalid">
    <small class="error" 
        ng-show="comarunForm.runPattern.$error.pattern">
        You have to fill run number range.
    </small>
    <small class="error" 
        ng-show="comarunForm.runPattern.$error.required">
        A number is required.
    </small>    
  </div>
  </div>
<div class="row">
      <label>Run number: [end] </label> 
    <input type="text" ng-model="schemaformparams.runmax.number" 
     	ng-pattern="/[0-9].*/" 
      	name="runPattern" value="999999" required/>
	<div class="error" 
        ng-show="comarunForm.runPattern.$invalid">
    <small class="error" 
        ng-show="comarunForm.runPattern.$error.pattern">
        You have to fill run number range.
    </small>
    <small class="error" 
        ng-show="comarunForm.runPattern.$error.required">
        A number is required.
    </small>    
  </div> 
  </div> 	
</fieldset>

<fieldset class="field_set" ng-show="radioValue == 'time'">
  <legend class="legend">Run search panel using time range</legend>
<div class="row">
  <label>Choose start date for time range: [since] </label>
  <input type="text" ng-model="datepicker.datesince" data-date-format="dd/mm/yyyy" bs-datepicker>
<!--   <button type="button" class="btn" data-toggle="datepicker"><i class="icon-calendar"></i></button> -->
</div>
<div class="row">
  <label>Choose end date for time range: [until] </label>
  <input type="text" ng-model="datepicker.dateuntil" data-date-format="dd/mm/yyyy" bs-datepicker>
<!--   <button type="button" class="btn" data-toggle="datepicker"><i class="icon-calendar"></i></button> -->
</div>
</fieldset>	 
  
<fieldset class="field_set">  
<div class="row">
    <label>Run type [Physics is default, set to all to ignore]</label> 
    <input type="text" ng-model="schemaformparams.rtype" 
    	ng-minlength=2 
      	name="rtypePattern" value="Physics" required/>
	<div class="error" 
        ng-show="comarunForm.rtypePattern.$invalid">
    <small class="error" 
        ng-show="comarunForm.rtypePattern.$error.required">
        Run type name for search is required.
    </small>    
    <small class="error" 
        ng-show="comarunForm.rtypePattern.$error.minlength">
        Search string is required to be at least 2 characters
    </small>
  </div>   
  </div>  
<div class="row">
    <label>Project name [data is default, set to all to ignore]</label> 
    <input type="text" ng-model="schemaformparams.period" 
    	ng-minlength=2 
      	name="periodPattern" value="data" required/>
	<div class="error" 
        ng-show="comarunForm.periodPattern.$invalid">
    <small class="error" 
        ng-show="comarunForm.periodPattern.$error.required">
        Run type name for search is required.
    </small>    
    <small class="error" 
        ng-show="comarunForm.periodPattern.$error.minlength">
        Search string is required to be at least 2 characters
    </small>
  </div>   
  </div>     	
</fieldset>

 <div class="row">
  <button type="submit" class="button radius">Submit</button>
 </div> 
</form>

<fieldset class="field_set"> 
<p>Show list of selected items</p>
 <pre>{{runGridOptions.selectedItems}}</pre>
</fieldset>
</div>
</div>
</div>
</div>
<div class="pane">
<div class="row">
<div class="span12" ng-show="showchart == true">
 <div class="panel panel-info">
    <div class="panel-heading">
      <h2 class="panel-title">
        Chart section
      </h2>
 </div>
<p>Choose chart: </p>
<select ng-change="runlistwatcher()" data-ng-model="run.chart" data-ng-options="item.name for item in run.chartlist"></select>
<pre>selected chart is {{run.chart}}</pre>
<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
</div>
</div>
</div>
</div>

<tabset>
    <tab ng-repeat="tab in tabs" heading="{{tab.title}}" active="tab.active" disabled="tab.disabled">
      {{tab.content}}
<div class="report-container" ng-show="tab.showruns == true">
<div class="gridStyle" ng-grid="runGridOptions">
 </div>
</div>
    </tab>
</tabset>

<!-- <div class="tab-content" style="overflow: hidden"> -->
<!-- <div ng-tabs class="tabbable"> -->
  
<!-- 			<ul class="nav nav-tabs"> -->
<!--                 <li ng-tab-head> -->
<!--                     <a href="/app/schemas" ng-click="$event.preventDefault()">Schemas</a> -->
<!--                 </li> -->
<!--                 <li ng-tab-head> -->
<!--                     <a href="/app/schemas/{{schemapattern}}/{{seldb}}" ng-click="$event.preventDefault()">Nodes</a> -->
<!--                 </li> -->
<!--             </ul> -->

<!--     <div ng-tab-body class="tabbable"> -->
<!-- 		<div class="report-container"> -->
<!--  		     <div class="gridStyle" ng-grid="schemaGridOptions"></div> -->
<!-- 		</div> -->
<!--     </div> -->
<!--     <div ng-tab-body class="tabbable"> -->
<!--     	<p>List of nodes in schema: {{schemapattern}}</p> -->
<!--    	</div> -->
<!-- </div> -->
<!-- </div> -->
