<div class="pane" ng-controller="HomeCtrl">
<div class="row">
<div class="span12">
 <div class="panel panel-info">
    <div class="panel-heading">
      <h2 class="panel-title">
        Welcome to the JBCoolJS web application {{status.role}} !
      </h2>
 </div>
<p>
This home page provides some hints about how to use this web
application. If something is unclear feel free to contact the administrators.
</p>
<p>
You can explore COOL content using several search modes, depending on which
information you want to access and which information you already have as available.
In general you will access a search form, and data output is shown in a table where
you can perform grouping (use for this the small arrow in the top right side of the data table).
</p>
<p>
The page  <span class="tech">globaltag</span>  allows you to perform several searches related to global tag information.
From here you can e.g. search global tags and related leaf tags (trace function) for every schema requested.
</p>
<p>
The page  <span class="tech">schemas</span> instead explore in a more classic
way COOL folders starting from search patterns related to the schema name.
</p>
<p>
The page  <span class="tech">nodes</span> allow to browse schema nodes. You can search schemas via
a pattern and refine node search as well via pattern.
</p>
<p>
The page  <span class="tech">tags</span> allow to browse leaf tags. You can search schemas via
a pattern and refine node search as well via pattern, then add a tag search string if you want.
</p>
<p>
This is a test...
</p>
</div>
</div>
</div>
</div>