/* ----------------------------------------------------------------------- */
/*
 * CSS for the JBCool browser pages - Jean-Paul Le FÃšvre - July  2013
 * To enable modications in this less file run:
 *    lessc -x vhfhosting.less>vhfhosting.css
 */
/* ----------------------------------------------------------------------- */
/* //@ import "flatly.less"; */
body {
  padding: 10px;
}
div.main {
  border: 1px solid #242e35;
  border-radius: 10px;
  margin: auto;
  padding: 0.5em 0.5em;
  min-height: 40em;
}
div.pane {
  margin: auto;
  padding: 1.0em;
}
div.paneright {
  margin: auto;
  padding: 1.0em;
  float: right;
}
div.form {
  margin: 1.0em auto;
  width: 80%;
}
.feed-back {
  font-size: larger;
}
div.msg {
  margin:  0.2em auto;
  padding: 0.2em;
  text-align: center;
  font-weight: bold;
}
div.center {
  text-align: center;
  margin: auto;
}
h1 {
    text-align: center;
    font-size: 24.5px;
}
h2 {
  text-align: center;
  margin: auto;
  font-size: 20px;
}
h2.h {
    margin-top: 1em;
    margin-bottom: 1em;
}
h3 {
  text-align: center;
  margin: auto;
  font-size: 16px;
}
h3.p {
  text-align: left;
  margin: 1em 1em 0.3em 0.5em;
  font-size: 16px;
  font-weight: bold;
}
h4 {
    margin: 2em auto 1em auto;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}
h5 {
    margin: 0.0em auto 1em auto;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
}
table td {
    text-align: left;
}
table td.c {
    text-align: center;
}
table td.h {
    font-weight: bold;
    width: 8em;
}
table td.d {
   color: #888;
}
p.d {
   color: #888;
}
th {
    font-weight: bold;
    text-align: center;
    background-color: #18bc9c;
}
.photo {
    border: 0px none #242e35;
    margin: auto;
    width: 50%;
}
img.photo {
    border: 1px solid #242e35;
}
span.h {
    color: #fff;
    font-weight: bold;
    text-align: center;
}
span.version {
    font-size:  10px;
    text-align: left;
    font-style: oblique;
    position: absolute;
}
input[type="text"].ro,
select.ro {
    color: #888;
    background-color: #ddd;
}
button.add {
    font-size: smaller;
    padding: 0.2em;
}
textarea.info {
    .form-control;
    width: 70%;
    height: 5em;
    margin: auto;
}
.info.ro {
    color: #888;
    background-color: #ddd;
}
.choice {
    .form-control;
    width: 12em;
}
.area {
    .form-control;
}
.field {
    .form-control;
    .form-control.input-small;
    color: #777;
}
.ro {
    color: #888;
}
.opt {
    color: #3498db;
}
.date {
    width: 20em;
}
.rite {
    text-align: right;
}
.tech {
    font-style:oblique;
}
.center {
  text-align: center;
  margin: auto;
}

/* other css from A.Formica */
.field_set{
    border-color:#F00;
    border-style: solid;
}

.row{
    margin: 5px 5px 5px 5px !important;
}

.comment {
	font-size : 11px;
}
.error {
	color : red;
	font-size : 11px;
}
.label-large {
  display: inline-block;
  margin-bottom: 5px;
  font-weight: bold;
  padding: 10px;
  width: 310px;
}

#tabs {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

table.coverage td {
    border-color:lightgray;
    border-style: solid;
	font-size: 12px;
}

.ishole {
  background-color: #FF7070;
}

.isiovs {
  background-color: lightgreen;
}

.isoneiov {
  background-color: lightblue;	
}

/*
 * d3js css
 */

.bar rect {
  fill: steelblue;
  shape-rendering: crispEdges;
}

.bar text {
  fill: #fff;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.chart div {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}

.dot {
  stroke: #000;
}

.node {
  border: solid 1px white;
  font: 10px sans-serif;
  line-height: 12px;
  overflow: hidden;
  position: absolute;
  text-indent: 2px;
}

.nodeinfo {
  border: solid 1px white;
  font: 10px sans-serif;
  line-height: 10px;
  overflow: hidden;
  position: absolute;
  text-indent: 2px;
  background:url(../images/badge_information_32.png) center right no-repeat;
}

div.tooltip {   
  position: absolute;           
  text-align: left;           
  width: auto;                  
  height: 100px;                 
  padding: 2px;             
  font: 12px sans-serif;        
  background: lightsteelblue;   
  border: 0px;      
  border-radius: 8px;           
  pointer-events: none;         
}
.chart {
  display: block;
  margin: auto;
  margin-top: 40px;
}

text {
  font-size: 11px;
}

rect {
  fill: none;
}

.node circle {
  cursor: pointer;
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node text {
  font-size: 11px;
}

path.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

/* Replace the bootstrap navbar */
.navbar .nav > li > a {
  float: none;
  padding: 10px 15px 10px;
  color: #777777;
  text-decoration: none;
  text-shadow: 0 0px 0 rgba(22, 21, 21, 0.45);;
}

input,textarea,.uneditable-input{
  width: 420px;
}
input.small {
  width: 200px;
}

/* nggrid css */
.report-container
{
margin:5px;
width:100%;
overflow:hidden;
position:relative;
height:700px;
}
.ngHeaderText {
	font-size: 14px;
	font-color: 'blue';
}
.gridStyle {
  margin-left: 5px;
  margin-right: 5px;
  font-size: 12px;
  border: 5px solid rgb(212,212,212);
  width: 95%; 
  height: 600px;
}
